.statistics {
  width: 480px;
  margin: 24px auto;
  border: 2px solid rgb(77, 159, 165);
  border-radius: 4px;
}
.statList {
  list-style: none;
  display: flex;
  padding: 8px;
}

.title {
  text-align: center;
  text-transform: uppercase;
  color: grey;
}
